// bower:scss
// endbower

@import "components/header";
@import "components/alert_level";
@import "components/incident_detail";
@import "components/incident_listing";
@import "components/incident_mini";
@import "components/incident_popup";
@import "components/report";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
}
body, .leaflet-container {
  font-family: franklin-gothic-urw;
  font-weight: 400;
}

h1, h2, h3, b {
  font-weight: 700;
}

a {
  &:link, &:visited {
    color: rgb(36,40,25);
  }
  &:active, &:hover, &:focus {
    color: #000;
  }
}
