header.global {
  text-align: center;
  position: relative;

  h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
  h1, nav {
    display: inline-block;
  }
  nav {
    position: absolute;
    right: 1em;
    top: .5em;
  }
}
