// Small incident details (list item, future popup)
.incidentMini {
  a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-decoration: none;

    > {
      * {
        box-sizing: border-box;
        padding: .5rem 1rem;
      }
      :first-child, :last-child {
        display: inline-block;
        text-align: center;
      }
      :first-child {
        width: 4rem;
      }
      :last-child {
        width: 6rem;
      }
    }
    &:active, &:hover, &:focus {
      background: rgba(213,213,211,0.2);
    }
  }
  div {
    -webkit-flex: 1;
    flex: 1;
  }
  abbr {
    border-bottom: none;
    font-size: 1.5em;
    font-weight: 700;
  }
  h1, h2 {
    font-size: 1em;
    margin: 0;
  }
  h2 {
    font-weight: normal;
  }
  .distanceFrom {
    display: block;
  }
}
