// Small incident details (list item, future popup)
.incidentMini {
  display: -webkit-flex;
  display: flex;
  align-items: center;

  > * {
    box-sizing: border-box;
    padding: .5em 1em;
  }
  abbr {
    border-bottom: none;
  }
  abbr, span {
    display: inline-block;
    text-align: center;
  }
  .alertLevel {
    width: 4em;
  }
  h1 {
    -webkit-flex: 1;
    flex: 1;
    font-size: 1em;
    margin: 0;
  }
  .distanceFrom {
    width: 6em;
  }
}
