// Small incident details (list item, future popup)
.incidentMini {
  a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-decoration: none;

    > {
      * {
        box-sizing: border-box;
        padding: .7rem 1rem;
      }
      :first-child, :last-child {
        display: inline-block;
        text-align: center;
      }
      :first-child {
        width: 4rem;
      }
      :last-child {
        width: 6rem;
      }
    }
    &:active, &:hover, &:focus {
      background: rgba(213,213,211,0.2);
    }
  }
  div {
    -webkit-flex: 1;
    flex: 1;
  }
  h1, h2 {
    font-size: 1rem;
    margin: 0;
  }
  h1 {
    margin-bottom: .2rem;
    font-weight: 400;
  }
  h2 {
    font-weight: normal;
    text-transform: uppercase;
  }
  h2, .lastUpdate {
    font-size: .8rem;
  }
}
