<article class="incidentDetail">
  <header>
    <h1 ng-if="incident.properties.category !== 'Not Applicable'">{{incident.properties.category}}</h1>
    <h2>{{incident.properties.title}}</h2>
    <b class="type">{{incident.properties.fireType}}</b>
    <br />
    <b class="status">{{incident.properties.status}}</b>
  </header>
  <div class="time">
    <div>
      <h3>Last update</h3>
      <time class="lastUpdate" am-time-ago="incident.properties.pubdate" datetime="{{incident.properties.pubdate}}"></time>
    </div>
    <div>
      <h3>First seen</h3>
      <time class="firstSeen" am-time-ago="incident.properties.firstSeen" datetime="{{incident.properties.firstSeen}}"></time>
    </div>
  </div>
  <div class="location">
    <h3>Location</h3>
    <p>{{incident.properties.location}}</p>
    <br />
    <b>Size:</b> <span class="size">{{incident.properties.size}}</span>
    <br />
    <b>Council:</b> <span class="council">{{incident.properties.councilArea}}</span>
    <br />
    <b>Responsible agency:</b> <span class="agency">{{incident.properties.responsibleAgency}}</span>
    <br />
    <a href="{{incident.properties.link}}" title="View on the RFS website" rel="external">View on RFS</a>
  </div>
  <div class="reports" ng-if="reports.length">
    <h3>Reports</h3>
    <p>
      {{reports.length}} updates recorded since the incident was first seen 
      <time class="firstSeen" am-time-ago="incident.properties.firstSeen" datetime="{{incident.properties.firstSeen}}"></time>.
    </p>
    <ol>
      <li ng-repeat="report in reports">
        <article id="report_{{report.id}}" class="report">
          <abbr class="alertLevel" title="Alert level: {{incident.properties.alertLevel}}">{{report.properties.alertLevel | simplifyAlertLevel}}</abbr>
          <div>
            <h1>{{report.properties.status}}</h1>
            <h2><time class="publishedAt" datetime="{{report.properties.pubdate}}">{{report.properties.pubdate | amDateFormat:'ddd, MMM Do YYYY HH:mm:ss ZZ'}}</time></h2>
          </div>
        </article>
      </li>
    </ol>
  </div>
</article>
