<article class="incidentMini" id="incident_{{incident.id}}">
  <a ng-href="#/incidents/{{incident.id}}" title="View incident details">
    <abbr class="alertLevel" title="Alert level: {{incident.properties.alertLevel}}">{{incident.properties.alertLevel | simplifyAlertLevel}}</abbr>
    <div>
      <h1>{{incident.properties.title}}</h1>
      <h2>
        {{incident.properties.status}},
        {{incident.properties.fireType}}
      </h2>
      <span class="lastUpdate">
        Last update
        <time am-time-ago="incident.properties.pubdate" datetime="{{incident.properties.pubdate}}"></time>
      </span>
    </div>
    <span class="distanceFrom"><span ng-if="incident.distanceFromUser">{{incident.distanceFromUser | km}}</span></span>
  </a>
</article>
