<article class="incidentMini" id="incident_{{incident.id}}">
  <a href="/incidents/{{incident.id}}" title="View incident details">
    <abbr class="alertLevel" title="Alert level: {{incident.properties.alertLevel}}">{{incident.properties.alertLevel | simplifyAlertLevel}}</abbr>
    <div>
      <h1>{{incident.properties.title}}</h1>
      <h2>
        {{incident.properties.fireType}},
        {{incident.properties.status}}
      </h2>
      <span class="lastUpdate">
        Last update
        <time am-time-ago="incident.properties.pubdate" datetime="{{incident.properties.pubdate}}"></time>
      </span>
    </div>
    <span class="distanceFrom">{{incident.distanceFromUser | km}}</span>
  </a>
</article>
